/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ff006e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.game-container {
    text-align: center;
}

#game-area {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: #282828;
    border: 5px solid #00ffea;
    overflow: hidden;
    margin: 0 auto;
}

#player {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    left: 120px;
    background-image: url('charli.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#note, #obstacle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#note {
    background-image: url('brat.png');
}

#obstacle {
    background-image: url('ttpd.png');
}

.score {
    margin-top: 20px;
    font-size: 20px;
}

#start-button {
    background-color: #00ffea;
    color: #282828;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

#start-button:hover {
    background-color: #00aaff;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.controls button {
    background-color: #00ffea;
    border: none;
    padding: 15px;
    margin: 0 10px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:active {
    background-color: #00aaff;
}
